/* Maintain 9:16 aspect ratio and make the ad responsive */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#image-sequence, #endcard {
    position: relative;
    /* Use the smaller dimension (either width or height) to maintain aspect ratio */
    width: 100vw;
    height: calc(100vw * 16 / 9);
    max-height: 100vh;
    max-width: calc(100vh * 9 / 16);
    overflow: hidden;
}

/* Main image style */
#main-image {
    width: 100%;
    height: 100%;
}

#endcard {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#endcard img {
    width: 100%;
    height: 100%;
}

/* Pulsating button */
#cta-button {
    position: absolute;
    bottom: 100px; /* Keeps the vertical position */
    left: 50%;
    transform: translateX(-50%) scale(1.2); /* Center horizontally and scale up by 1.2 */
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1.2);
    }
    50% {
        transform: translateX(-50%) scale(1.3);
    }
    100% {
        transform: translateX(-50%) scale(1.2);
    }
}
